[user]
    name = Harold Bradley III
    email = hbradleyiii@bradleystudio.net
[alias]
    ac = !git add . && git commit -m
    amend = commit --amend -m
    br = branch
    bo = checkout -b
    c = commit -m
    co = checkout
    d = diff
    dc = diff --cached
    s = status
    stall = stash save --include-untracked
    l = log
    l1 = log --pretty=format:'%C(bold green)%h%C(reset) %C(bold blue)%ad%C(reset) %s' --date=format:'%b %d, %Y %I:%M'
    lg = !"git lg1"
    lg1 = !"git lg1-specific --all"
    lg2 = !"git lg2-specific --all"
    lg3 = !"git lg3-specific --all"
    lg1-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)'
    lg2-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
    lg3-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset) %C(bold cyan)(committed: %cD)%C(reset) %C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset)%n''          %C(dim white)- %an <%ae> %C(reset) %C(dim white)(committer: %cn <%ce>)%C(reset)'
    ls = ls-files
    pl = pull --ff-only
    psuh = push
    psuh = push
    pshu = push
    ps = push
    when = log --diff-filter=A --
[apply]
    whitespace = fix
[color]
    diff = auto
    status = auto
    branch = auto
    ui = auto
[color "branch"]
    current = green
    local = green
    remote = red
[color "diff"]
    meta = blue
    frag = magenta ul
    old = red
    new = green
[color "status"]
    added = green
    changed = yellow
    untracked = red
[core]
    editor = vim
    excludesfile = ~/.gitignore_default
    ui = true
    whitespace = cr-at-eol
[diff]
    renames = copies
    mnemonicprefix = true
[merge]
    ff = only
[push]
    default = matching
    followTags = true
[url "https://github.com/"]
    insteadOf = gh:
[include]
    path = ~/.gitconfig_local
[init]
    defaultBranch = master
[safe]
    directory = /home/harold/.dotfiles
