#
# name:             .inputrc
# author:           Harold Bradley III
# email:            harold@bradleystudio.net
# created:          Nov 09 2015
#
# description:      This file is sourced during readline initilization.  Any
#                   program that uses readline (including bash) sources it.
#
#                   To manually load this file use:
#                   $ bind -f ~/.inputrc
#
#                   Note that this doesn't 'reload' the configuration it just
#                   'loads' the configuration on top of the existing what was
#                   already loaded. Hence, deleting a setting will not 'unset'
#                   that setting without reloading bash.


set bind-tty-special-chars on
set editing-mode vi
set completion-ignore-case on
set mark-symlinked-directories on
set prefer-visible-bell on
set expand-tilde off
set bell-style visible

set visible-stats on

set show-all-if-ambiguous on
set show-all-if-unmodified on

set completion-map-case on # treat - and _ as the same

$if Bash
  Space: magic-space
$endif


## Custom Keys

# Arrow keys
"\e[A"      history-search-backward
"\e[B"      history-search-forward
"\e[C"      forward-char
"\e[D"      backward-char

# glob expansion patterns (*)
"\C-e":     glob-expand-word    # expands w/out executing
"\C-t":     glob-list-expansions # lists possible expansions (similar to ls)
"\C-xx":    glob-expand-word

"\C-b": 'cd -\015'

# Open ranger with ',,'
",,": 'cr\015'

"\C-i": re-read-init-file  # Reload init file with C-i

"\C-w": unix-filename-rubout
"": unix-filename-rubout
"\C-xv": show-bash-version

# Cycle thru completions
"\t"     :    menu-complete
"\S-\t"  :    menu-complete-backward
"\e[Z"   :    menu-complete-backward  # Sometimes the previous line doesn't work?
"\C-n"   :    complete

# NOTE: menu-complete-backward doesn't work by default in Macs since Mac uses
# an old version of bash. You can update bash on mac, then you have to make
# sure your terminal emulater (iterm2) is using the correct version of bash.
# You should set it to: '/path/to/bash --login'


set keymap vi-command
"gg":       beginning-of-history
"G":        end-of-history
"dd":       kill-whole-line

set keymap vi-insert # Insert keymaps
"\C-w":     backward-kill-word          # Ctrl + w
"\C-l":     clear-screen                # Ctrl + l


# vim:set ft=sh:
