! --
! file:     ~/.Xdefaults
! author:   Harold Bradley III
! vim:nu:ai:si:et:ts=4:sw=4:ft=xdefaults:
! --
!
! After making changes run:
!   $ xrdb -load ~/.Xdefaults

Xcursor.theme:Vanilla-DMZ

! Xft settings --

!Xft.dpi:                          120
!Xft.antialias:                    true
!Xft.rgba:                         rgb
!Xft.hinting:                      true
!Xft.hintstyle:                    hintslight
!Xft.lcdfilter:                    lcddefault


URxvt*termName:                  rxvt-unicode-256color
URxvt*font:                      xft:Pragmata:pixelsize=16:antialias=true:hinting=true


URxvt*geometry:                   100x40
URxvt*borderless:                 true
URxvt*internalBorder:             2

URxvt*shading:                    15


!tint background with this color
!URxvt*tintColor:                  grey
!URxvt*tintColor:                  #080b0a
!set to 32-bit for real transparency (compositing required)
URxvt*depth:                      32
URxvt*transparency:               true
wterm*transparency:               true
!save n lines of scrollback buffer
URxvt*saveLines:                  32767
!flash screen for attention
URxvt*visualBell:                 true
!jump to bottom (prompt) on keypress
URxvt*scrollTtyKeypress:          true
!jump to bottom (prompt) when tty gets new lines
URxvt*scrollWithBuffer:           false
!jump to bottom (prompt) on tty output
URxvt*scrollTtyOutput:            false
URxvt*scrollBar:                  false
!scrollbar styles: rxvt, plain, next or xterm
URxvt*scrollstyle:                plain
!scrollbar alignment
URxvt*scrollBar_right:            true
URxvt*scrollColor:                #080b0a
!transparency
!URxvt*transparent:                true
!is this a login shell?
URxvt*loginShell:                 true


URxvt*cutchars:                   BACKSLASH '"'&()*,;<=>?@[]{|}
!screen dump settings
URxvt*print-pipe:                 cat > $(echo urxvt.dump.$(date +'%Y%M%d%H%m%S'))
!secondary screen scroll (default enabled)
URxvt*secondaryScroll:            true
!de-iconify (map) on receipt of a bell character
URxvt*mapAlert:                   true
!inhibit writing record into the system log file utmp

URxvt*underlineURLs:              true
URvxt*urlButton:                  2

URxvt*urlLauncher:                google-chrome


! Solarized color scheme for the X Window System
!
! http://ethanschoonover.com/solarized


! Common

#define S_yellow        #b58900
#define S_orange        #cb4b16
#define S_red           #dc322f
#define S_magenta       #d33682
#define S_violet        #6c71c4
#define S_blue          #268bd2
#define S_cyan          #2aa198
#define S_green         #859900


! Dark

#define S_base03        #002b36
#define S_base02        #073642
#define S_base01        #586e75
#define S_base00        #657b83
#define S_base0         #839496
#define S_base1         #93a1a1
#define S_base2         #eee8d5
#define S_base3         #fdf6e3

! Custom

#define S_byellow       #eaab3b
#define S_bred          #ee6561
#define S_bmagenta      #e967a7
#define S_bblue         #5aade9
#define S_bcyan         #5dd0c8
#define S_bgreen        #bbcc33

#define S_black         #000010

! To only apply colors to your terminal, for example, prefix
! the color assignment statement with its name. Example:
!
! URxvt*background:            S_base03

*background:              S_black
*foreground:              S_base0
*fading:                  15
*fadeColor:               S_base03
*cursorColor:             S_base1
*pointerColorBackground:  S_base01
*pointerColorForeground:  S_base1

! black
*color0:                  S_black
*color8:                  S_base03

! red
*color1:                  S_red
*color9:                  S_orange

! green
*color2:                  S_green
*color10:                 S_base01

! yellow
*color3:                  S_yellow
*color11:                 S_base00

! blue
*color4:                  S_blue
*color12:                 S_base0

! magenta
*color5:                  S_magenta
*color13:                 S_violet

! cyan
*color6:                  S_cyan
*color14:                 S_base1

! white
*color7:                  S_base2
*color15:                 S_base3


URxvt.perl-ext-common: default,clipboard
URxvt.keysym.C-S-c: perl:clipboard:copy
URxvt.keysym.C-v: perl:clipboard:paste
URxvt.keysym.C-a-v: perl:clipboard:paste_escaped
